body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #2d2d2d;
    color: white;
}

.top-bar {
    display: flex;
    align-items: center;
    background: #333333;
    color: white;
    padding: 10px;
}

.logo-box {
    margin-right: 10px;
}

.logo {
    height: 40px;
}

.top-bar-button {
    margin: 0 5px;
    padding: 5px 10px;
    background: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.top-bar-button:hover {
    background: #555;
}

.main-container {
    display: flex;
    flex-grow: 1;
    background-color: #2d2d2d;
}

.left-sidebar {
    width: 60px;
    background: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.tool-button {
    background: #4c4c4c;
    color: white;
    border: none;
    border-radius: 2px;
    margin: 5px 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.canvas-container {
    flex-grow: 1;
    background: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

canvas {
    background-color: #ffffff;
    border: 1px solid #444;
}

.right-sidebar {
    width: 200px;
    background: #333333;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layers {
    width: 100%;
    text-align: center;
}

.layer {
    background: #444;
    margin: 5px 0;
    padding: 8px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layer.selected {
    background: #666;
}

.layer-controls {
    display: flex;
    gap: 5px;
}

.layer-controls button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.color-wheel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color-picker {
    width: 180px;
    height: 180px;
    position: relative;
}

.color-info {
    position: absolute;
    top: -10px;
    left: -5px;
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    pointer-events: none;
}

.color-indicator {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #fff;
    background-color: #000000;
}

#hex-code {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-right: 1px; 
}

